body {
    background-color: #000;
}
#nav {
    width: 150px;
    float: left;
    background-color: #000;
    color: #fff;
    background-image: url(../images/menu.gif);
    padding-top: 180px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
#nav ul {
    list-style-type: none;
    padding-left: 0px;
}
#nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10px;
    background-color: #000;
}
/* #nav a:visited {
    color: #e3f305;
    text-decoration: none;
} */
#nav a:hover {
    color: rgb(255, 0, 43);
    text-decoration: none;
    border: 1px solid rgb(255, 0, 43);
}
/* #nav a:active {
    color: rgb(8, 240, 97);
    text-decoration: none;
} */
#top {
    background-image: url(../images/top.gif);
    height: 48px;
    background-repeat: no-repeat;
    margin-left: 150px;
}
#main {
    background-color: #fff;
    margin: 0 10px 0 160px;
    padding: 0 20px;
}